* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title {
    color: #1f2821;
}

.form-control {
    height: 3rem;
    border-radius: 30px;
    border-right: none;

}

.form-control:focus {
    border-color: #cccc;
    border-right: none;
    box-shadow: none;
}

.input-group-text {
    border-radius: 30px;
    background-color: transparent;
    color: #105718;
}

.card-title {
    font-size: 1.5rem;
    white-space: nowrap;       
    overflow: hidden;         
    text-overflow: ellipsis;  
    max-width: 100%;
}

#circle-status {
    font-size: 10px;
    display: inline-block;
    margin-right: 4px;
}

.copy {
    margin-top: 128px;
}

footer {
    background-color: #1f2821;
    color: #848484;
}

.main-bg {
    background-color: #262626;
    background-image: url(../assets/images/wp9394568-4k-rick-and-morty-desktop-wallpapers.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 40px;
    padding-bottom: 650px;
}

.character-card {
    background-color: #3e3f40;
    color: #ffff;
    cursor: pointer;
}